.social-btn{
    transition: all .4s;
}

.social-btn:hover{
    transform: scale(102%);
    border: 2px solid rgb(0, 0, 0);
    box-shadow: var(--clg-effect-sem-shadow-elevation-3, 0px 1px 3px 0px rgba(0, 0, 0, 0.3019607843), 0px 4px 8px 3px rgba(0, 0, 0, 0.1490196078));
    transition: transform 200ms cubic-bezier(0.345, 0.115, 0.135, 1.42), opacity 150ms ease-out;
}