.help-hero{
    background-image: url('https://bucket-qlrc5d.s3.eu-west-2.amazonaws.com/assets/help-back.jpg');
    background-size: cover;
    background-position: center center;
}

.help-hero input {
  padding-left: 2rem;
  padding-right: 2rem;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.help-hero input:focus {
  outline: none;
  border-color: #000;
}


