@media(min-width : 768px) {
    .kd-sub-category-single-item {
        max-width: calc(33.3% - 12px);
    }
}

.kd-single-sub-category{
    transition: all .3s ;
}

.kd-single-sub-category:hover{
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3019607843), 0px 4px 8px 3px rgba(0, 0, 0, 0.1490196078);
}